body {
  background-color: lavender;
  font-size: 25px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
                    
}






ul{ display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
}
p {
  
  font-size: 15px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  
}
h1 {
    
    
}
h2 {
    
    
    
}
h3 {
  margin: 3%;
    
    
    
}
h4 {
    
    
    
}
h5 {
    
    
    
}
h6 {
    

    
}
figcaption{
  font-size: 15px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}  



Nav {
    color: black;
    text-align:right;
    position: relative;
}

a:visited {
    color: black;
}

a {
    color: black;
    display: inline;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
text-decoration: underline;
color: black;
}


span.c {
  display: inline;
  width: 235px;
  height: 65px;
  padding: 5px;  
  background-color: lavender; 
}



.nav {
  display:flex;
  background-color: lavender; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  margin: 1% auto 2% auto;
  align-items: flex-start;
  width: 95%;
}

.icons {
    color: black;
    text-align:right;
    position: relative;
    font-family:verdana;
    font-weight:800;
    display: flex;
    flex-direction: column;
  
}

main {
    margin: 3% auto 3% auto;
    width: 95%;
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.split{
display: flex;
justify-content: space-between;






}


.apart{




  
}

